body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    align-items: stretch;
    height: 100vh;
}



.sidebar {
    width: 33.33%; 
    background-color: white; /* Sidebar color */
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    overflow-y: auto; /* Add scroll functionality */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    max-height: 100vh; /* Restrict height to viewport height */
}

.sidebar-header {
    text-align: center;
}

.sidebar-logo {
    width: 80%;
}

.search-bar {
    width: 90%; /* Shortened the width of the search bar */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.menu {
    margin: 10px 0;
}

.submenu {
    list-style-type: none;
    padding: 0;
    display: none;
}

.submenu li {
    margin: 10px 0;
}

.menu-header {
    cursor: pointer;
    font-weight: bold;



    display: flex;
    justify-content: space-between; /* This pushes the menu text to the left and the indicator to the right */
    align-items: center; /* Vertically aligns the text and the indicator */
    background-color: transparent;
}


.main-content {
    
    padding: 20px;
    overflow-y: auto; /* Allows scrolling for main content */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100vh; /* Ensure full height for the main content */
    width: 66.67%;
    display: flex; /* use flexbox */
}

/* Style for the code block */
pre {
    background-color: lightgray;
    padding: 10px;
    overflow: auto;
    position: relative; /* Add position relative for button positioning */
}

.copy-button {
    position: absolute; /* Position button at the top right */
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    cursor: pointer;
    margin-top: 10px;
}

.parent{
    height: 100vh;

}

.sidebar, .main-content {
    height:100%;
}

.menu-link {
    color: blue;
    text-decoration: none; /* This removes the underline */    
}



.menu-link.selected {
    color: red; /* Color when selected */
}


.menu-header {
    cursor: pointer; /* Change cursor to pointer for better UX */
}

.menu-indicator {
    margin-right: 5px; /* Space between indicator and text */
}

.submenu {
    padding-left: 20px; /* Indentation for submenu items */
}


.menu-indicator {
    /* You can customize the indicator's styles here */
    font-weight: bold; /* Make the indicator bold (optional) */
    color: black;
}


.menu-header .menu-indicator {
    font-size: 18px;
    margin-left: auto; /* Ensures that all indicators are aligned at the extreme right */
}

    


